.main{
    height: 700px;
    width: 1700px;
    background-color: rgb(12, 235, 242);
}
.flag{
    height: 200px;
    width: 350px;
    background-color: darkgreen;
    position: relative;
    top: 100px;
    left: 400px;
    
}

.flag-circle{
    height: 100px;
    width: 120px;
    background-color: red;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
}

.extra{
    height: 200px;
    width: 30px;
    background-color: rgb(9, 1, 17);
    position: relative;
    top: 90%;
    border-top-right-radius: 30px;
    
}

.art{
    position: relative;
    top: 50%;
    left: 70%;
}

.asd{
    height: 50px;
    width: 80px;
    background-color: black;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
}

.bangla{
    font-size: 70px;
    position: relative;
    left: 30%;
    /* top: -30%; */
}
.st{
   color: green;
}
.nd{
    color: red;
}
.rd{
    color: green;
}
.th{
    color: red;
}
.lth{
    color: green;
}
.ath{
    color: red;
}
.dth{
    color: green;
}
.eth{
    color: red;
}
.sth{
    color: green;
}
.hth{
    color: red;
}
.des{
    font-size: 60px;
    position: relative;
    top: -75%;
    /* left: 20px; */
    left: 20px;
}
.bor{
    font-size: 50px;
    position: relative;
    top: -85%;
    left: 20px;
}
.our{
    position: absolute;
    /* top: 90%; */
    left: 20px;
    top: 150px;
    font-size: 60px;
}
.day{
    position: relative;
    top: -75%;
    left: 20px;
    font-size: 120px;
}
.img{
    position: relative;
    top: -130%;
    left: 1020px;
    width: 30px;
    border: 30px;
}